<h1>Users#index</h1>
<p>Find me in app/views/users/index.html.erb</p>

<div class="boats_jobs_wrapper">
	<div class="center_info">
		<div class="user_boats">All Boats
			<%= render "boats/all_boats" %>
		</div>
		<div class="user_jobs"> All Jobs
			<%= render "jobs/all_jobs" %>
		</div>
	</div>
</div>
